doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/octicon.css')
    line(rel='stylesheet', href='node_modules/octicons/build/octicons.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    block stylesheets
  body
    div(id='navigation').
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href='/'>Secure Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active hidden" href="#" id='userButton'><span id='username'>username</span><span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link hidden" href="#" id='logoutButton'>Log Out</a>
        </div>
      </div>
        <form class="form-inline">
          <label class='label-cookie'>Cookie</label>
          <label class="switch">
            <input type="checkbox" id="modeStatus">
            <span class="slider"></span>
          </label>
          <label class='label-token'>Token</label>
        </form>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    div(id='main-content' class='container')
      div(class='row mt-2')
        block toasts
          div(id='toasts' class='col-md-12')
      block content
    div(id='loading-screen')
    block scripts
      script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
      script(src='http://coreyshuman.com/rx/jquery.js?v=1')
      script(src='/javascripts/spin.js')
      script(src='/javascripts/common.js')
      script(src='/javascripts/spinner.js')
      script.
        const error = "#{error}";
        const message = "#{message}";

        if(error) {
          MyBlogApp.toast('danger', error);
        }

        if(message) {
          MyBlogApp.toast('success', message);
        }
