extends layout

block content
  div(class='row justify-content-center align-items-center')
    div(id='forgot-password-container' class='col-sm-8 border border-primary rounded py-3 bg-light')
      form(id='forgot-password-form' action='forgot-password' method='post')
        div(class='form-group')
          label(for='inputEmail' class='col-form-label') Enter your email address to reset your password.
        div(class='form-group')
          label(for='inputEmail' class='col-form-label') Email
          input(type='email' class='form-control' id='inputEmail' aria-describedby='email-help' name='email')
        input(type='submit' class='btn btn-primary' id='forgotPasswordSubmit')

          

block append scripts
  script(src='/javascripts/MyBlogApp.forgotPassword.js')
  