extends layout

block content
  div(class='row justify-content-center align-items-center')
    div(id='reset-password-container' class='col-sm-8 border border-primary rounded py-3 bg-light')
      form(id='reset-password-form' action='reset-password' method='post')
        div(class='form-group')
          label(for='inputEmail' class='col-form-label') Enter your email address and new password below
        div(class='form-group')
          label(for='inputEmail' class='col-form-label') Email
          input(type='email' class='form-control' id='inputEmail' aria-describedby='email-help' name='email')
          small(id='email-help' class='form-text text-muted') We'll never share your email with anyone else.
        div(class='form-group')
          label(for='inputPassword' class='col-form-label') Password
          input(type='password' class='form-control' id='inputPassword' name='password')
        div(class='form-group')
          label(for='inputPasswordAgain' class='col-form-label') Repeat Password
          input(type='password' class='form-control' id='inputPasswordAgain' name='passwordAgain')
          input(type='hidden' class='form-control' id='token' name='token' value='#{token}')
          input(type='hidden' class='form-control' id='_csrf' name='_csrf' value='#{csrfToken}')
        input(type='submit' class='btn btn-primary' id='resetPasswordSubmit')

          

block append scripts
  script(src='/javascripts/MyBlogApp.resetPassword.js')
  