extends layout

block content
  div(class='container')
    h1 Content Security Policy Example
    h3 Application Security and Hardening
    p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat orci eget velit venenatis, vel convallis massa consectetur. Suspendisse pretium feugiat arcu at gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque nec orci congue, faucibus purus a, hendrerit velit. Integer id dolor ac turpis rutrum tristique. Aenean quis risus in elit porttitor placerat non vel odio. Fusce nunc ex, laoreet at purus at, vestibulum eleifend libero. Nullam sit amet enim molestie, aliquam neque a, sollicitudin nunc. Pellentesque ex diam, euismod at gravida nec, bibendum lacinia tortor. Proin dui velit, eleifend et pellentesque sit amet, hendrerit et arcu.
    br
    hr
    iframe(src='http://coreyshuman.com' width='800' height='600')
    iframe(src='https://google.com' width='800' height='600')